@model Car
@{
    ViewData["Title"] = "Edit";
}

<div class="card">  
    <div class="card-body">
        <div class="card-text">
            <form asp-action="Create" asp-controller="Car" id="car" name="car">
                <h3 class="alert alert-light text-center">Edit car </h3>
                <input type="hidden" asp-for="CarId" />
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group row">
                    <label asp-for="CarModel" class="col-form-label text-right col-2"></label>
                    <div class="col-4">
                        <input asp-for="CarModel" class="form-control form-control-sm" />
                        <span asp-validation-for="CarModel" class="text-danger"></span>
                    </div>
                    <label asp-for="Type" class="col-form-label text-right col-2"></label>
                    <div class="col-4">
                        <select asp-for="Type"
                                asp-items="Html.GetEnumSelectList<CarType>()" class="form-control form-control-sm">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Price" class="col-form-label text-right col-2"></label>
                    <div class="col-4">
                        <input asp-for="Price" class="form-control form-control-sm" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <input asp-for="IsAvailable" class="mt-2 offset-2 col-1" />&nbsp;&nbsp; <label asp-for="IsAvailable" class="col-form-label col-4"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LunchDate" class="col-form-label text-right col-2"></label>
                    <div class="col-4">
                        <input type="text" asp-for="LunchDate" class="form-control form-control-sm" />
                        <span asp-validation-for="LunchDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-subtitle"><h3 class="alert alert-light text-center">Edit parts</h3></div>
                <div class="card-text" id="car-parts">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Parts Name</th>
                                <th>Stock</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model.CarParts)
                            {
                                @await Html.PartialAsync("_EditParts", p)
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <a asp-action="Index" asp-controller="Car"><span class="fa fa-long-arrow-left"></span> Back to list</a>
            <button type="button" class="btn btn-primary btn-sm ml-auto" id="car-finish">
                Update & Finish
            </button>
        </div>
    </div>
</div>

@section styles {
    <environment include="Development">
        <link href="~/libs/bs4-toast/toast.min.css" rel="stylesheet" />
        <link href="~/libs/gijgo/combined/css/gijgo.css" rel="stylesheet" />
    </environment>
}

@section scripts {
    <environment include="Development">
        <script src="~/libs/validation/jquery.validate.js"></script>
        <script src="~/libs/validation/jquery.validate.unobtrusive.js"></script>
        <script src="~/libs/gijgo/combined/js/gijgo.js"></script>
        <script src="~/libs/bs4-toast/toast.min.js"></script>
        <script>
            $(document).ready(() => {
                $("button.del-parts").click(function () {
                    $(this).closest("tr").remove();
                });
                $('input#LunchDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    format: "yyyy-mm-dd"
                });
                $("button#car-finish").click(() => {
                    console.log('ok');
                    var valid = $("form#car").valid();
                    if (!valid) return;
                    var data = {
                        CarParts: []
                    };
                    data.CarId = $("#CarId").val();
                    data.CarModel = $("#CarModel").val();
                    data.Type = $("#Type").val();
                    data.Price = $("#Price").val();
                    data.LunchDate = $("#LunchDate").val();
                    data.IsAvailable = $('input#IsAvailable').is(':checked');
                    var PartsName = $("textarea[name='PartsName']")
                    var Stock = $("textarea[name='Stock']")
                    var Price = $("textarea[name='Price']")
                    var CarId = $("input[name='CarId']")
                    $.each($("input[name='CarPartsId']"), function (i, el) {
                        data.CarParts.push({ CarPartsId: $(el).val(), CarId: $(CarId[i]).val(), PartsName: $(PartsName[i]).val(), Stock: $(Stock[i]).val(), Price: $(Price[i]).val() });
                    });
                    console.log(data);
                    $.ajax({
                        type: "POST",
                        url: "/Car/Edit",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(data)
                    }).done(r => {
                        console.log(r);
                        if (r.success == true) {
                            $.toast({
                                title: 'Success!',
                                subtitle: 'Saved',
                                content: 'Data saved successfully.',
                                type: 'success',
                                delay: 3000,
                                dismissible: true,

                                // is stackable?
                                stackable: true,
                                position: 'top-right'

                            });
                        }
                        else {
                            $.toast({
                                title: 'Error!',
                                subtitle: 'Failed.',
                                content: 'Data update failed.',
                                type: 'warning',
                                delay: 3000,
                                dismissible: true,

                                // is stackable?
                                stackable: true,
                                position: 'top-center bottom-right'

                            });
                        }
                    }).fail(err => {
                        console.log(err);
                    });
                });
            });
        </script>
    </environment>
}
